<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- KEEP IN SAME FOLDER AS PACMAN SOFTWARE !!! -->
<config>
	<connectionString>(DESCRIPTION =    (ADDRESS = (PROTOCOL = TCP)(HOST = 158.167.231.96)(PORT = 1597))    (CONNECT_DATA =      (SERVER = DEDICATED)      (SERVICE_NAME = M07NESTP_TAF.cc.cec.eu.int)    )  )</connectionString>
	<username>peei_temp</username>
	<password>peei_temp88</password>
	<indicatorsPath>C:\xampp\htdocs\pacman\input\indic.xml</indicatorsPath>
	<creationViewSQLPath>C:\xampp\htdocs\pacman\input\CREATION_VIEW.sql</creationViewSQLPath>
	<extractFromViewSQLPath>C:\xampp\htdocs\pacman\input\EXTRACT_REPORT_FROM_VIEW.sql</extractFromViewSQLPath>
	<alterSessionSQLInstruction>ALTER SESSION SET NLS_NUMERIC_CHARACTERS = '.,'</alterSessionSQLInstruction>
	<outputFolder>C:\xampp\htdocs\pacman\output</outputFolder>
	<askedYear>2018</askedYear>
	<askedMonth>3</askedMonth>
</config>
		